# 라이브러리 선언

In [2]:
import pandas as pd
import requests
from pandas.io.json import json_normalize

## API URL 정보를 받아 변수 저장
### response 확인.(200= 정상, 400, etc...=비정상

In [3]:
url = "http://kosis.kr/openapi/statisticsData.do?method=getList&apiKey=NGI0OWJlZWYwYmExYWE5YjI4NDNiYjJmN2U1N2VhMTA=&format=json&jsonVD=Y&userStatsId=yukari6666/101/DT_1G1B002/2/1/20190417152028&prdSe=M&newEstPrdCnt=1"
response = requests.get(url)
response

### 우리가 원하는 형태는 json이 아니기 때문에 normalize 해야 한다.
### 그리고 normalize한 자료를 데이타프레임에 넣는다.

In [10]:
json = response.json()

df = json_normalize(json)
df.head()

,C1,C1_NM,C1_NM_ENG,C1_OBJ_NM,C1_OBJ_NM_ENG,C2,C2_NM,C2_NM_ENG,C2_OBJ_NM,C2_OBJ_NM_ENG,...,ITM_ID,ITM_NM,ITM_NM_ENG,ORG_ID,PRD_DE,PRD_SE,TBL_ID,TBL_NM,UNIT_NM,UNIT_NM_ENG
0,0,수주총액,Total amount of orders received,발주자별,By the kind of orderer,0,계,Total,공종별,By the kind of construction works,...,T10,수주액,Value of order received,101,2018,A,DT_1G1B002,발주자/공종별 건설수주액(경상),백만원,Million Won
1,0,수주총액,Total amount of orders received,발주자별,By the kind of orderer,1,건축,Building,공종별,By the kind of construction works,...,T10,수주액,Value of order received,101,2018,A,DT_1G1B002,발주자/공종별 건설수주액(경상),백만원,Million Won
2,0,수주총액,Total amount of orders received,발주자별,By the kind of orderer,2,토목,Civil engineering,공종별,By the kind of construction works,...,T10,수주액,Value of order received,101,2018,A,DT_1G1B002,발주자/공종별 건설수주액(경상),백만원,Million Won
3,1,공공부문,Public sector,발주자별,By the kind of orderer,0,계,Total,공종별,By the kind of construction works,...,T10,수주액,Value of order received,101,2018,A,DT_1G1B002,발주자/공종별 건설수주액(경상),백만원,Million Won
4,1,공공부문,Public sector,발주자별,By the kind of orderer,1,건축,Building,공종별,By the kind of construction works,...,T10,수주액,Value of order received,101,2018,A,DT_1G1B002,발주자/공종별 건설수주액(경상),백만원,Million Won

#### 데이터프레임을 csv파일로 저장한다

In [7]:
#그냥 csv로 날려버리면 안의 내용이 깨진다. 한글이기 때문이다.
#그렇기 때문에 encoding을 하는데 우리의 마법사 ms949로 encoding을 해주면
#짜잔! 깨지지 않은 csv파일이 만들어진다!
df.to_csv('./APIData1.csv', encoding = "ms949")