In [1]:
pwd

'E:\\python_repo'

In [2]:
import numpy as np

In [3]:
np.linspace(1,100,num=20)

array([  1.        ,   6.21052632,  11.42105263,  16.63157895,
        21.84210526,  27.05263158,  32.26315789,  37.47368421,
        42.68421053,  47.89473684,  53.10526316,  58.31578947,
        63.52631579,  68.73684211,  73.94736842,  79.15789474,
        84.36842105,  89.57894737,  94.78947368, 100.        ])

In [4]:
np.random.random(10)

array([0.39740128, 0.32439049, 0.35030285, 0.45707153, 0.01282472,
       0.66151503, 0.3737724 , 0.10847082, 0.36265197, 0.27955949])

In [5]:
import pandas as pd

In [7]:
pd.read_csv("./dataset/kopo_product_volume.csv")

    REGIONID PRODUCTGROUP  YEARWEEK   VOLUME
0        A01       ST0001    201415   810144
1        A01       ST0002    201415   128999
2        A01       ST0001    201418   671464
3        A01       ST0002    201418   134467
4        A01       ST0001    201413   470040
5        A01       ST0002    201413   140297
6        A01       ST0001    201411   524787
7        A01       ST0002    201411   145509
8        A01       ST0001    201416   764927
9        A01       ST0002    201416   140313
10       A01       ST0001    201419   682757
11       A01       ST0002    201419   128668
12       A01       ST0001    201414   428195
13       A01       ST0002    201414   137488
14       A01       ST0001    201412   486509
15       A01       ST0001    201417   697502
16       A01       ST0002    201417   127163
17       A01       ST0001    201407   620392
18       A01       ST0002    201407   146476
19       A01       ST0001    201410   511679
20       A01       ST0002    201410   153152
21       A01       ST0001    201402   438251
22       A01       ST0002    201402   123875
23       A01       ST0001    201405   482381
24       A01       ST0002    201405   180516
25       A01       ST0001    201408   571781
26       A01       ST0002    201408   156772
27       A01       ST0001    201403   420290
28       A01       ST0002    201403   114744
29       A01       ST0001    201406   570412
..       ...          ...       ...      ...
235      A01       ST0001    201622   817878
236      A01       ST0002    201622   214929
237      A01       ST0001    201620   695859
238      A01       ST0002    201620   160913
239      A01       ST0001    201618   712672
240      A01       ST0002    201618   162560
241      A01       ST0001    201625   786218
242      A01       ST0002    201625   157283
243      A01       ST0001    201612   794413
244      A01       ST0002    201612   132780
245      A01       ST0001    201610  1218194
246      A01       ST0002    201610   142575
247      A01       ST0001    201617   694920
248      A01       ST0002    201617   142279
249      A01       ST0001    201615   678467
250      A01       ST0002    201615   143180
251      A01       ST0001    201613   886427
252      A01       ST0002    201613   135788
253      A01       ST0001    201611  1011581
254      A01       ST0002    201611   150915
255      A01       ST0001    201609   635412
256      A01       ST0001    201616   658270
257      A01       ST0002    201616   137927
258      A01       ST0002    201609   154149
259      A01       ST0001    201614   739977
260      A01       ST0002    201614   148835
261      A01       ST0001    201641   746061
262      A01       ST0002    201412   151750
263      A01       ST0001    201420   645626
264      A01       ST0002    201420   125863

[265 rows x 4 columns]

In [8]:
pwd

'E:\\python_repo'

In [9]:
pd.read_csv("./kopo_product_volume.csv")

    REGIONID PRODUCTGROUP  YEARWEEK   VOLUME
0        A01       ST0002    201512   151750
1        A01       ST0001    201520   645626
2        A01       ST0002    201520   125863
3        A01       ST0001    201515   810144
4        A01       ST0002    201515   128999
5        A01       ST0001    201518   671464
6        A01       ST0002    201518   134467
7        A01       ST0001    201513   470040
8        A01       ST0002    201513   140297
9        A01       ST0001    201511   524787
10       A01       ST0002    201511   145509
11       A01       ST0001    201516   764927
12       A01       ST0002    201516   140313
13       A01       ST0001    201519   682757
14       A01       ST0002    201519   128668
15       A01       ST0001    201514   428195
16       A01       ST0002    201514   137488
17       A01       ST0001    201512   486509
18       A01       ST0001    201517   697502
19       A01       ST0002    201517   127163
20       A01       ST0001    201507   620392
21       A01       ST0002    201507   146476
22       A01       ST0001    201510   511679
23       A01       ST0002    201510   153152
24       A01       ST0001    201502   438251
25       A01       ST0002    201502   123875
26       A01       ST0001    201505   482381
27       A01       ST0002    201505   180516
28       A01       ST0001    201508   571781
29       A01       ST0002    201508   156772
..       ...          ...       ...      ...
180      A01       ST0001    201635   732598
181      A01       ST0002    201635   229962
182      A01       ST0001    201633   748038
183      A01       ST0002    201633   201557
184      A01       ST0001    201631   832400
185      A01       ST0002    201631   179630
186      A01       ST0001    201629   809554
187      A01       ST0002    201629   163171
188      A01       ST0001    201627   798282
189      A01       ST0002    201627   188335
190      A01       ST0001    201634   711380
191      A01       ST0002    201634   181811
192      A01       ST0001    201632   774620
193      A01       ST0002    201632   215174
194      A01       ST0001    201648   873341
195      A01       ST0002    201648   711806
196      A01       ST0001    201646   630040
197      A01       ST0002    201646   441993
198      A01       ST0001    201651  1175605
199      A01       ST0002    201651   401602
200      A01       ST0001    201649   749699
201      A01       ST0002    201649   278487
202      A01       ST0001    201647  1037853
203      A01       ST0002    201647  1663206
204      A01       ST0001    201645   585098
205      A01       ST0002    201645   192137
206      A01       ST0001    201652   813749
207      A01       ST0002    201652   208186
208      A01       ST0001    201650   786380
209      A01       ST0002    201650   320253

[210 rows x 4 columns]

In [10]:
a=3
A=5
print(a)
print(A)

3
5

In [11]:
print(a)

3

In [12]:
R=pd.read_csv("./kopo_product_volume.csv")
print(R)

    REGIONID PRODUCTGROUP  YEARWEEK   VOLUME
0        A01       ST0002    201512   151750
1        A01       ST0001    201520   645626
2        A01       ST0002    201520   125863
3        A01       ST0001    201515   810144
4        A01       ST0002    201515   128999
5        A01       ST0001    201518   671464
6        A01       ST0002    201518   134467
7        A01       ST0001    201513   470040
8        A01       ST0002    201513   140297
9        A01       ST0001    201511   524787
10       A01       ST0002    201511   145509
11       A01       ST0001    201516   764927
12       A01       ST0002    201516   140313
13       A01       ST0001    201519   682757
14       A01       ST0002    201519   128668
15       A01       ST0001    201514   428195
16       A01       ST0002    201514   137488
17       A01       ST0001    201512   486509
18       A01       ST0001    201517   697502
19       A01       ST0002    201517   127163
20       A01       ST0001    201507   620392
21       A01       ST0002    201507   146476
22       A01       ST0001    201510   511679
23       A01       ST0002    201510   153152
24       A01       ST0001    201502   438251
25       A01       ST0002    201502   123875
26       A01       ST0001    201505   482381
27       A01       ST0002    201505   180516
28       A01       ST0001    201508   571781
29       A01       ST0002    201508   156772
..       ...          ...       ...      ...
180      A01       ST0001    201635   732598
181      A01       ST0002    201635   229962
182      A01       ST0001    201633   748038
183      A01       ST0002    201633   201557
184      A01       ST0001    201631   832400
185      A01       ST0002    201631   179630
186      A01       ST0001    201629   809554
187      A01       ST0002    201629   163171
188      A01       ST0001    201627   798282
189      A01       ST0002    201627   188335
190      A01       ST0001    201634   711380
191      A01       ST0002    201634   181811
192      A01       ST0001    201632   774620
193      A01       ST0002    201632   215174
194      A01       ST0001    201648   873341
195      A01       ST0002    201648   711806
196      A01       ST0001    201646   630040
197      A01       ST0002    201646   441993
198      A01       ST0001    201651  1175605
199      A01       ST0002    201651   401602
200      A01       ST0001    201649   749699
201      A01       ST0002    201649   278487
202      A01       ST0001    201647  1037853
203      A01       ST0002    201647  1663206
204      A01       ST0001    201645   585098
205      A01       ST0002    201645   192137
206      A01       ST0001    201652   813749
207      A01       ST0002    201652   208186
208      A01       ST0001    201650   786380
209      A01       ST0002    201650   320253

[210 rows x 4 columns]

In [13]:
integer_value=123

In [14]:
type(integer_value)#타입 확인

int

In [17]:
integer_value=5
float_value=11.5
sum = integer_value+float_value
print(sum)

16.5

In [16]:
sum = a+A
print(sum)

8

In [18]:
multiple = a*A
print(multiple)

15

In [19]:
division = a/A
print(division)

0.6

In [20]:
exponential=a**A
print(exponential)

243

In [21]:
mod = a%A
print(mod)

3

In [22]:
a=543
A=889

In [23]:
sum=a+A
print(sum)

1432

In [24]:
print(sum)

1432

In [25]:
division=a/A
print(division)

0.6107986501687289

In [26]:
multiple=a*A
print(multiple)

482727

In [31]:
exponential=a**A
print(exponential)

17260306541742775150917329794221336700772438439130176456841193874737678169944548859213502908319012216943745114649575663516712113226383866249322381813570214698051432750753058138585310649305729608783352043998676110498582290974403893491169903540268410357613259283547164121445297633047305597444825906026689355103578952963127192828617025736819444684530710371478035319437533723257932122072238985222053251711707880167721537241104068527020485530705437761374195218723237467301234691800456355249817866417611273834362682930724094814293463769467901558096694019542036403492980934258636805401756484075987757284268592171351973779524195997187099770594455570882584549544187770964741290863860153102577041982167975413513211227536895713833874031878463016289196277155736424024391619532447428724629151320559246055837891816819808456545215331158275737207311192814807521973823514939048891052069306474401596936504645994436008663681303040335728940324896723823023081435186854319547877834949950966953734003579287140777740802458315329070532796458336809698050798547148356288598722322214094086101177386645561185765238594060448559469006428897216747140890449496410572207245362259959579248503712796264250770124260433787573582652112927053118793987969725421921691272304036620581491517225419725710680768864287429708041029657517608785705505776090031346563104450054344873425195039542761650820777142715376415789549032419332137871424322484561779370334236222319503756161831830996176272647122526516560582881341224068917706728615887657036648947149828876045230511313433313318586405100569085335997713038736621900582938989553751731298300604942777461776787511328868497352736738330947755392458262595784570593475126983927696559521578884037774679261829842465766885358539952922501265374840281887784277450159507242646747815316689049448363722204887988167161809488579601542388801402103563062722815162991523415842593152214473459972137672114773714818357674533006473811177577146554201666082652138140429733584145032169916039815429463650126003257856668537938337286820754657714146194271632330285618605655365207599313229673040173510335196890465521746170530658122720361856840532233254989889090917522038039790852533248466308759352885751306421503818937290398030909039656178693821077790994516164073770486188325646539902047924397699391760426174844295488717876310600464869354384714993182260342972682929146232299439815929344789210577018956851655442959734057223369802155096306653741479604730816170029343

In [28]:
T=5
t=23

In [29]:
sum=T+t
print(sum)

28

In [30]:
division=t/T
print(division)

4.6

In [32]:
a=12.33

In [33]:
type(a)

float

In [34]:
b=3

In [35]:
type(b)

int

In [36]:
q=4
e=0.34456

In [37]:
division=q/e
print(division)

11.609008590666358

In [38]:
mod=q%e
print(mod)

0.20984000000000025

In [39]:
hour = int(input("hour"))#input은 java에서 Scanner와 같은 역할을 한다.
min = int(input("min"))
sum = hour+min
print(sum)

hour6
min38
44

In [40]:
hour = float(input("hour"))
minuit = float(input("min"))
sum = hour+minuit
print(sum)

hour10
min39
49.0

## 1. 라이브러리 선언

In [41]:
import datetime as dt

dt.datetime.now()

datetime.datetime(2019, 4, 14, 10, 39, 41, 857517)

## 2. 시간, 분 정보 불러오기

In [48]:
from datetime import datetime as dt2
#datetime 모듈에서 datetime 클래스를 임포트한 것. 이름이 같으나 혼동하지 말자.
currentDate = dt2.now()

# 시간.분 할당
hourVar = currentDate.hour
minutesVar = currentDate.minute
print(hourVar)
print(minutesVar)

10
50

## 3. 결과 저장

In [49]:
answer = minutesVar + hourVar
print(answer)

60

In [50]:
a=123

In [51]:
b="123"

In [52]:
answer = a+1
print(answer)

124

In [53]:
type(b)

str

In [54]:
type(a)

int

In [57]:
head="holy"
tail="shuit"
fullstring=head+" "+tail
#문자열은 그냥 앞과 뒤가 연결될 뿐이다. 가운데의 " "는 앞과 뒤 사이의 공백을 넣어주기 위함이다.
print(fullstring)

holy shuit

In [58]:
yearweek="201903"
firstYear = yearweek[0]
#인덱스로 문자열을 가르는 것이다. yearweek의 문자열은 201903이고 인덱스는 언제나 0에서부터 시작한다.
#그 중 [0]번째 자리의 문자를 firstyear에 넣었으니 제일 첫 번째, '2'가 그 값이 된다.
print(firstYear)

2

In [59]:
yearweek[0:4]
#인덱스를 통해 문자열을 가른 것이다. 0번째에서부터 4번째 문자열 전까지 가르라는 의미이다.
#즉, 0,1,2,3 = 앞에서 4자리를 의미한다.
#그렇기에 값은 201903의 4자리, [2019]가 되는 것이다.

'2019'

In [63]:
yearweek = "2019W09"
#yearweek에 이번엔 W를 넣었다.
splitVar = yearweek.split("W")
#splitVar에 yearweek 값 중 "W"를 기준으로 split한 값을 넣었다.
print(splitVar)
#그 결과, W를 기준으로 앞과 뒤로 나뉘었다.

['2019', '09']

In [64]:
example="SEC 20180212 250"

stockName=example[0:3]
date=example[4:13]
value=example[14:16]
print(stockName)
print(date)
print(value)
#참고로 int나 double은 문자열 인덱스로 가르는 게 불가능하다.

SEC
20180212
50

In [68]:
a="Sec2018W28250"
Uppera = a.upper()
#문자열 내부의 소문자 알파벳을 모두 대문자로 바꿔주는 함수이다.
#반대로는 lower가 있다.
Uppera

'SEC2018W28250'

In [69]:
splita=Uppera.replace("W","")#W를 " "공백으로 교체하라는 뜻.
#문자열을 다른 문자열로 교체해주는 .replace 함수이다.
#.replace("a","b") -> a를 b로 교체할 수 있다. 언제나 좌측에서부터 바꾸기 떄문에 예문에서 w가 두 개 있었다면 좌측 w만 교체되었을 것이다.
splita

'SEC201828250'

In [79]:
#교수님의 답
TestList=[120,150,300,500,1000,100,2000]

#.sort()는 오름차순으로 정렬하라는 예약어.
TestList.sort()

#TestList의 0번째 리스트 요소를 삭제하라는 코드.
del TestList[0]

#del은 삭제하라는 예약어, TestList[len(TestList)-1]는 TestList의 len(길이를 뜻하는 예약어로, 리스트 내부의 길이를 뜻함. 길이는 리스트 내부에
#존재하는 요소들의 합 ex-TestList=[1, 2, 3, 4, 5]일 때 길이는 '1, 2, 3, 4, 5'의 5개 요소를 뜻하며 0부터 세기 시작하기 때문에 5개가 들어있어도
#총 요소 갯수는 4이다. 그 중 마지막을 -, 빼라는 코드.
del TestList[len(TestList)-1]

#average라는 변수에 TestList 내부 요소들의 합(sum)을 len(TestList) TestList의 길이로 /(나누기)하라는 코드.
average = sum(TestList)/len(TestList)

average

TypeError: 'float' object is not callable

In [92]:
dic = { "190113":"노트북 구매", "190114":"마우스 구매"}
#딕셔너리 정의.
#딕셔너리는 key:value의 형태로 이루어져 있어 key를 호출할 경우 value가 프린트 된다.

In [93]:
dic["190113"]

'노트북 구매'

In [95]:
import pandas as pd

In [96]:
test=pd.read_csv("./dataset/kopo_region_mst_hangul.csv", encoding = "ms949").head()
test

  REGIONID REGIONNAME
0      A00       아프리카
1      A01         미국
2      A02         한국
3      A03         독일
4      A04        브라질

In [97]:
import pandas as pd

qtyList=pd.read_csv\
("./dataset/kopo_channel_seasonality_new.csv")["QTY"].tolist()
#csv 파일을 불러와 특정 칼럼 내용을 리스트 형식으로 만든 것.

qtyList.sort()
del qtyList[0]
del qtyList[len(qtyList)-1]
average = sum(qtyList)/len(qtyList)
average

TypeError: 'float' object is not callable

In [ ]:
name = input("성함을 입력하세요: ")
print(name)