# 데이터 불러오기

In [11]:
import pandas as pd

In [12]:
seasonData = pd.read_csv('../dataset/kopo_channel_seasonality_new.csv')
seasonData.head(1)

  REGIONID   PRODUCT  YEARWEEK   QTY
0      A60  PRODUCT4    201402  71.0

# 데이터 타입 확인

In [37]:
seasonData.dtypes

REGIONID     object
PRODUCT      object
YEARWEEK     object
QTY         float64
QTY_NEW     float64
YEAR         object
WEEK          int32
dtype: object

# 데이터 타입 변환

### 데이터 프레임["칼럼명"] = 데이터 프레임["칼럼명"].astype(int / etc..)

In [14]:
seasonData["QTY"] = seasonData["QTY"].astype(float)

In [15]:
seasonData["REGIONID"] = seasonData["REGIONID"].astype(str)
seasonData["PRODUCT"] = seasonData["PRODUCT"].astype(str)
seasonData["YEARWEEK"] = seasonData["YEARWEEK"].astype(str)

### 변경된 데이터 타입 확인

In [16]:
seasonData.dtypes

REGIONID     object
PRODUCT      object
YEARWEEK     object
QTY         float64
dtype: object

# 원하는 칼럼만 조회하기

### 데이터프레임[ [ '칼럼명' ] ] -대괄호 두 개가 중요

In [17]:
seasonData[['REGIONID', 'PRODUCT']]

       REGIONID    PRODUCT
0           A60   PRODUCT4
1           A60  PRODUCT59
2           A60  PRODUCT34
3           A60  PRODUCT47
4           A60  PRODUCT56
5           A60  PRODUCT57
6           A60  PRODUCT12
7           A60   PRODUCT1
8           A60  PRODUCT33
9           A60  PRODUCT62
10          A37  PRODUCT58
11          A37  PRODUCT59
12          A37  PRODUCT34
13          A31  PRODUCT58
14          A31  PRODUCT59
15          A31  PRODUCT34
16          A04  PRODUCT58
17          A04  PRODUCT63
18          A04  PRODUCT15
19          A04   PRODUCT4
20          A04  PRODUCT16
21          A04  PRODUCT59
22          A04  PRODUCT34
23          A04  PRODUCT40
24          A04  PRODUCT47
25          A04  PRODUCT60
26          A04  PRODUCT56
27          A04  PRODUCT57
28          A04  PRODUCT12
29          A04   PRODUCT1
...         ...        ...
124628      A16  PRODUCT64
124629      A16  PRODUCT48
124630      A16  PRODUCT49
124631      A16  PRODUCT74
124632      A16  PRODUCT40
124633      A16  PRODUCT47
124634      A16  PRODUCT60
124635      A16  PRODUCT56
124636      A16  PRODUCT12
124637      A16   PRODUCT1
124638      A16  PRODUCT41
124639      A16  PRODUCT51
124640      A16  PRODUCT68
124641      A16  PRODUCT33
124642      A16  PRODUCT14
124643      A10   PRODUCT2
124644      A10  PRODUCT58
124645      A10  PRODUCT63
124646      A10  PRODUCT15
124647      A10   PRODUCT4
124648      A10  PRODUCT16
124649      A10  PRODUCT59
124650      A10  PRODUCT34
124651      A10  PRODUCT40
124652      A10  PRODUCT47
124653      A10  PRODUCT60
124654      A10  PRODUCT56
124655      A10  PRODUCT61
124656      A10  PRODUCT12
124657      A10   PRODUCT1

[124658 rows x 2 columns]

In [18]:
customer = pd.read_csv('../dataset/./customerdata.csv')
#불러온 CSV 파일을 데이터프레임에 저장.(변수 선언과 같다.)
customer.head(1)
#불러온 데이터가 데이터프레임에 잘 들어갔는지 확인 및 칼럼 확인

   CUSTID  AVERAGEPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566        4273.9    3          6.4    1.679181  Big-Screen-lover

In [19]:
# customer[['CUSTOMERCODE', 'STATENAME', 'GENDER', 'TOTAL_AMOUNT']]

# 인덱스로 데이터 조회하기

### 데이터프레임.iloc[a:b, c:d] -a행의 b인덱스, c행의 d인덱스

### 데이터프레임.iloc[a:b,[0:2]]-a행의 b인덱스, 0에서 2인덱스 자리

In [20]:
customer.iloc[0:5,[0,2]]

   CUSTID  EMI
0  A13566    3
1  A14219    2
2  A15312    2
3  A16605    2
4  B10634    2

In [21]:
csdataCoulmns = customer.columns
csdataCoulmns

Index(['CUSTID', 'AVERAGEPRICE', 'EMI', 'DEVICECOUNT', 'PRODUCTAGE',
       'CUSTTYPE'],
      dtype='object')

In [22]:
csCodecolno = csdataCoulmns.get_loc("CUSTID")
stColNo = csdataCoulmns.get_loc("EMI")

# 데이터 정제하기(이상 데이터 정제)

## numpy 라이브러리 선언

In [23]:
import numpy as np

In [24]:
customer["PRODUCTAGE_NEW"] = np.where(customer["PRODUCTAGE"]< 1, 1,\
                                     np.where(customer["PRODUCTAGE"]< 2, 2,\
                                             np.where(customer["PRODUCTAGE"]< 3, 3,\
                                                     5)))
customer.head()

,CUSTID,AVERAGEPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,PRODUCTAGE_NEW
0,A13566,4273.900000,3,6.4,1.679181,Big-Screen-lover,2
1,A14219,3642.441950,2,4.0,2.682023,Sleeping-dog,3
2,A15312,3653.884565,2,5.0,3.208202,Sleeping-dog,5
3,A16605,3713.211107,2,6.6,0.900000,Early-bird,1
4,B10634,3391.074215,2,4.2,2.453656,Sleeping-dog,3

# 불량 데이터 처리

### 주어진 csv 자료에서 QTY 마이너스 값을 0으로 변경한 자료를 QTY_NEW 칼럼에 생성하시오.

In [25]:
seasonData.dtypes

REGIONID     object
PRODUCT      object
YEARWEEK     object
QTY         float64
dtype: object

In [26]:
seasonData["QTY_NEW"] = np.where(seasonData["QTY"] < 0,0,seasonData["QTY"])

In [27]:
seasonData

       REGIONID    PRODUCT YEARWEEK       QTY   QTY_NEW
0           A60   PRODUCT4   201402      71.0      71.0
1           A60  PRODUCT59   201402   22275.0   22275.0
2           A60  PRODUCT34   201402    4463.0    4463.0
3           A60  PRODUCT47   201402       0.0       0.0
4           A60  PRODUCT56   201402      23.0      23.0
5           A60  PRODUCT57   201402      14.0      14.0
6           A60  PRODUCT12   201402    1186.0    1186.0
7           A60   PRODUCT1   201402       7.0       7.0
8           A60  PRODUCT33   201402     101.0     101.0
9           A60  PRODUCT62   201402     336.0     336.0
10          A37  PRODUCT58   201402       0.0       0.0
11          A37  PRODUCT59   201402   11492.0   11492.0
12          A37  PRODUCT34   201402     825.0     825.0
13          A31  PRODUCT58   201402       0.0       0.0
14          A31  PRODUCT59   201402     560.0     560.0
15          A31  PRODUCT34   201402     103.0     103.0
16          A04  PRODUCT58   201402       0.0       0.0
17          A04  PRODUCT63   201402     740.0     740.0
18          A04  PRODUCT15   201402     394.0     394.0
19          A04   PRODUCT4   201402    2550.0    2550.0
20          A04  PRODUCT16   201402       4.0       4.0
21          A04  PRODUCT59   201402   36549.0   36549.0
22          A04  PRODUCT34   201402    4773.0    4773.0
23          A04  PRODUCT40   201402     146.0     146.0
24          A04  PRODUCT47   201402       5.0       5.0
25          A04  PRODUCT60   201402       9.0       9.0
26          A04  PRODUCT56   201402     109.0     109.0
27          A04  PRODUCT57   201402    1195.0    1195.0
28          A04  PRODUCT12   201402   15028.0   15028.0
29          A04   PRODUCT1   201402    1319.0    1319.0
...         ...        ...      ...       ...       ...
124628      A16  PRODUCT64   201630     188.0     188.0
124629      A16  PRODUCT48   201630      16.0      16.0
124630      A16  PRODUCT49   201630       9.0       9.0
124631      A16  PRODUCT74   201630      18.0      18.0
124632      A16  PRODUCT40   201630     285.0     285.0
124633      A16  PRODUCT47   201630     155.0     155.0
124634      A16  PRODUCT60   201630    2491.0    2491.0
124635      A16  PRODUCT56   201630    2026.0    2026.0
124636      A16  PRODUCT12   201630   17067.0   17067.0
124637      A16   PRODUCT1   201630     168.0     168.0
124638      A16  PRODUCT41   201630       0.0       0.0
124639      A16  PRODUCT51   201630       0.0       0.0
124640      A16  PRODUCT68   201630       0.0       0.0
124641      A16  PRODUCT33   201630    3887.0    3887.0
124642      A16  PRODUCT14   201630      95.0      95.0
124643      A10   PRODUCT2   201630   12570.0   12570.0
124644      A10  PRODUCT58   201630    4461.0    4461.0
124645      A10  PRODUCT63   201630    4308.0    4308.0
124646      A10  PRODUCT15   201630       0.0       0.0
124647      A10   PRODUCT4   201630    3012.0    3012.0
124648      A10  PRODUCT16   201630     231.0     231.0
124649      A10  PRODUCT59   201630  231024.0  231024.0
124650      A10  PRODUCT34   201630   34436.0   34436.0
124651      A10  PRODUCT40   201630       0.0       0.0
124652      A10  PRODUCT47   201630       4.0       4.0
124653      A10  PRODUCT60   201630     824.0     824.0
124654      A10  PRODUCT56   201630     275.0     275.0
124655      A10  PRODUCT61   201630       0.0       0.0
124656      A10  PRODUCT12   201630   15021.0   15021.0
124657      A10   PRODUCT1   201630     568.0     568.0

[124658 rows x 5 columns]

# 데이터 통합

### 주어진 자료에서 YEAR, WEEK 칼럼을 새로 생성하여
### WEEK 칼럼에서 WEEK가 52 이하인 데이터만 조회하여
### refinderSelloutData 변수에 담으시오

In [181]:
seasonData["YEAR"] = ""
seasonData["WEEK"] = ""

seasonData["YEARWEEK"].astype(str)

seasonData["YEAR"] = seasonData.YEARWEEK.str[0:4]

seasonData["WEEK"] = seasonData.YEARWEEK.str[4:]

In [49]:
seasonData["WEEK"] = seasonData["WEEK"].astype(str)

In [137]:
refinedSelloutData = (seasonData["WEEK"].astype(int) <= 52)

In [139]:
refinedSelloutData.astype(str)

0         True
1         True
2         True
3         True
4         True
5         True
6         True
7         True
8         True
9         True
10        True
11        True
12        True
13        True
14        True
15        True
16        True
17        True
18        True
19        True
20        True
21        True
22        True
23        True
24        True
25        True
26        True
27        True
28        True
29        True
          ...
124628    True
124629    True
124630    True
124631    True
124632    True
124633    True
124634    True
124635    True
124636    True
124637    True
124638    True
124639    True
124640    True
124641    True
124642    True
124643    True
124644    True
124645    True
124646    True
124647    True
124648    True
124649    True
124650    True
124651    True
124652    True
124653    True
124654    True
124655    True
124656    True
124657    True
Name: WEEK, Length: 124658, dtype: object

In [52]:
def refining(df):
    if df['productage']<1:
        return 1
    elif df['productage']<2:
        return 2
    else:
        return 5

In [66]:
customer2 = pd.read_csv('../dataset/./customerdata.csv')

In [140]:
# customer2["PRODUCTAGE_NEW2"] = customer2.apply(refining)

# 데이터 정렬하기

In [182]:
customer2.head(1)

   CUSTID  AVERAGEPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566        4273.9    3          6.4    1.679181  Big-Screen-lover

In [105]:
#sortKey 변수에 칼럼 Values를 저장.
sortKey = ["EMI", "DEVICECOUNT"]

In [120]:
#sortKey에 저장된 값을 간단하게 소트하여 따로 저장.
sortedData_1 = customer2.sort_values(sortKey)
sortedData_1

     CUSTID  AVERAGEPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
47   I17056   2963.370122    1          3.3    2.139196      Sleeping-dog
73   O13586   2980.229239    1          3.3    2.038603      Sleeping-dog
140  Y12458   2976.211190    1          3.5    2.199677      Sleeping-dog
57   K13300   3159.839204    1          3.7    1.960833      Sleeping-dog
86   Q16449   3048.308860    1          3.8    2.369758      Sleeping-dog
46   I14835   3374.091339    1          4.0    2.749678      Sleeping-dog
65   M16452   3353.537290    1          4.0    1.940357      Sleeping-dog
56   K10712   3419.462596    1          4.4    2.825790      Sleeping-dog
72   O13037   3398.216334    1          4.5    2.994395      Sleeping-dog
11   C18622   3246.000000    1          5.0    1.891624  Big-Screen-lover
68   N14862   2390.083736    1          6.3    1.000000        Early-bird
112  T11116   2890.703076    2          3.0    2.303318      Sleeping-dog
41   H16434   3145.232489    2          3.5    1.865857      Sleeping-dog
120  U16894   3234.465609    2          3.6    2.606419      Sleeping-dog
102  S14878   3201.699741    2          3.9    2.095610      Sleeping-dog
108  S17893   2857.684730    2          3.9    2.679795      Sleeping-dog
119  U16637   3596.304713    2          3.9    2.308070      Sleeping-dog
1    A14219   3642.441950    2          4.0    2.682023      Sleeping-dog
121  U17547   3313.905655    2          4.0    2.448368      Sleeping-dog
122  U17748   3394.152840    2          4.0    2.185742      Sleeping-dog
103  S15191   3041.973927    2          4.1    2.820039      Sleeping-dog
124  V16516   3149.259875    2          4.1    2.410823      Sleeping-dog
128  W10832   3527.360507    2          4.1    2.136971      Sleeping-dog
4    B10634   3391.074215    2          4.2    2.453656      Sleeping-dog
20   E16075   3418.048887    2          4.2    2.771469      Sleeping-dog
83   Q13484   3418.911355    2          4.2    2.770609      Sleeping-dog
111  T10762   3572.369016    2          4.2    2.938848      Sleeping-dog
70   O10236   3706.655001    2          4.3    2.708959      Sleeping-dog
136  X14259   3481.314549    2          4.3    2.528063      Sleeping-dog
34   G16681   3216.438150    2          4.4    2.254282      Sleeping-dog
..      ...           ...  ...          ...         ...               ...
55   J18640   3227.823130    2          6.6    0.900000        Early-bird
61   L16344   3232.620438    2          6.6    1.100000        Early-bird
66   M17538   4111.600000    2          6.6    2.012517  Big-Screen-lover
74   O16407   3687.228512    2          6.6    1.300000        Early-bird
125  V16704   2605.631083    2          6.6    0.900000        Early-bird
143  Z12343   3498.896985    2          6.6    0.900000        Early-bird
18   E10778   4165.700000    2          6.7    2.122257  Big-Screen-lover
38   H10188   4020.245162    2          6.7    0.900000        Early-bird
149  Z19835   3326.526183    2          6.7    1.200000        Early-bird
15   D15289   4165.700000    2          6.9    2.911016  Big-Screen-lover
105  S15966   2797.678314    2          6.9    0.900000        Early-bird
52   J15083   2811.265932    3          6.0    0.900000        Early-bird
107  S17396   3895.200000    3          6.1    2.055707  Big-Screen-lover
95   R16364   3592.353540    3          6.2    0.900000        Early-bird
135  X13390   2947.543982    3          6.3    1.100000        Early-bird
0    A13566   4273.900000    3          6.4    1.679181  Big-Screen-lover
45   I12899   3018.895637    3          6.4    0.900000        Early-bird
53   J16445   3041.848186    3          6.4    0.800000        Early-bird
142  Z11525   3259.018704    3          6.4    0.900000        Early-bird
27   F17131   3179.708359    3          6.5    1.100000        Early-bird
36   G18402   3402.199381    3          6.5    1.000000        Early-bird
40   H16326   3988.935304    3          6.5    0.900000        Early-bird
51   J10809   3676.135627    3          6.5    0.800000        Early-bird
126  V18566   3527.701867    3          6.5    0.900000        Early-bird
130  W13404   4296.873743    3          6.5    1.100000        Early-bird
146  Z13534   3662.437527    3          6.6    0.900000        Early-bird
33   G16437   3787.328898    3          6.7    1.000000        Early-bird
60   L13892   3263.515145    3          6.7    1.100000        Early-bird
113  T11473   4165.700000    3          6.7    1.780674  Big-Screen-lover
67   N13273   3839.694732    3          6.9    1.100000        Early-bird

[150 rows x 6 columns]

In [112]:
#따로 sortKey를 지정하지 않고 직접 값을 지정
sortedData_2 = customer2.sort_values(["EMI", "DEVICECOUNT"])

In [110]:
sortedData_2

     CUSTID  AVERAGEPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
47   I17056   2963.370122    1          3.3    2.139196      Sleeping-dog
73   O13586   2980.229239    1          3.3    2.038603      Sleeping-dog
140  Y12458   2976.211190    1          3.5    2.199677      Sleeping-dog
57   K13300   3159.839204    1          3.7    1.960833      Sleeping-dog
86   Q16449   3048.308860    1          3.8    2.369758      Sleeping-dog
46   I14835   3374.091339    1          4.0    2.749678      Sleeping-dog
65   M16452   3353.537290    1          4.0    1.940357      Sleeping-dog
56   K10712   3419.462596    1          4.4    2.825790      Sleeping-dog
72   O13037   3398.216334    1          4.5    2.994395      Sleeping-dog
11   C18622   3246.000000    1          5.0    1.891624  Big-Screen-lover
68   N14862   2390.083736    1          6.3    1.000000        Early-bird
112  T11116   2890.703076    2          3.0    2.303318      Sleeping-dog
41   H16434   3145.232489    2          3.5    1.865857      Sleeping-dog
120  U16894   3234.465609    2          3.6    2.606419      Sleeping-dog
102  S14878   3201.699741    2          3.9    2.095610      Sleeping-dog
108  S17893   2857.684730    2          3.9    2.679795      Sleeping-dog
119  U16637   3596.304713    2          3.9    2.308070      Sleeping-dog
1    A14219   3642.441950    2          4.0    2.682023      Sleeping-dog
121  U17547   3313.905655    2          4.0    2.448368      Sleeping-dog
122  U17748   3394.152840    2          4.0    2.185742      Sleeping-dog
103  S15191   3041.973927    2          4.1    2.820039      Sleeping-dog
124  V16516   3149.259875    2          4.1    2.410823      Sleeping-dog
128  W10832   3527.360507    2          4.1    2.136971      Sleeping-dog
4    B10634   3391.074215    2          4.2    2.453656      Sleeping-dog
20   E16075   3418.048887    2          4.2    2.771469      Sleeping-dog
83   Q13484   3418.911355    2          4.2    2.770609      Sleeping-dog
111  T10762   3572.369016    2          4.2    2.938848      Sleeping-dog
70   O10236   3706.655001    2          4.3    2.708959      Sleeping-dog
136  X14259   3481.314549    2          4.3    2.528063      Sleeping-dog
34   G16681   3216.438150    2          4.4    2.254282      Sleeping-dog
..      ...           ...  ...          ...         ...               ...
55   J18640   3227.823130    2          6.6    0.900000        Early-bird
61   L16344   3232.620438    2          6.6    1.100000        Early-bird
66   M17538   4111.600000    2          6.6    2.012517  Big-Screen-lover
74   O16407   3687.228512    2          6.6    1.300000        Early-bird
125  V16704   2605.631083    2          6.6    0.900000        Early-bird
143  Z12343   3498.896985    2          6.6    0.900000        Early-bird
18   E10778   4165.700000    2          6.7    2.122257  Big-Screen-lover
38   H10188   4020.245162    2          6.7    0.900000        Early-bird
149  Z19835   3326.526183    2          6.7    1.200000        Early-bird
15   D15289   4165.700000    2          6.9    2.911016  Big-Screen-lover
105  S15966   2797.678314    2          6.9    0.900000        Early-bird
52   J15083   2811.265932    3          6.0    0.900000        Early-bird
107  S17396   3895.200000    3          6.1    2.055707  Big-Screen-lover
95   R16364   3592.353540    3          6.2    0.900000        Early-bird
135  X13390   2947.543982    3          6.3    1.100000        Early-bird
0    A13566   4273.900000    3          6.4    1.679181  Big-Screen-lover
45   I12899   3018.895637    3          6.4    0.900000        Early-bird
53   J16445   3041.848186    3          6.4    0.800000        Early-bird
142  Z11525   3259.018704    3          6.4    0.900000        Early-bird
27   F17131   3179.708359    3          6.5    1.100000        Early-bird
36   G18402   3402.199381    3          6.5    1.000000        Early-bird
40   H16326   3988.935304    3          6.5    0.900000        Early-bird
51   J10809   3676.135627    3          6.5    0.800000        Early-bird
126  V18566   3527.701867    3          6.5    0.900000        Early-bird
130  W13404   4296.873743    3          6.5    1.100000        Early-bird
146  Z13534   3662.437527    3          6.6    0.900000        Early-bird
33   G16437   3787.328898    3          6.7    1.000000        Early-bird
60   L13892   3263.515145    3          6.7    1.100000        Early-bird
113  T11473   4165.700000    3          6.7    1.780674  Big-Screen-lover
67   N13273   3839.694732    3          6.9    1.100000        Early-bird

[150 rows x 6 columns]

In [117]:
customerData = pd.read_csv('../dataset/./customerdata.csv')

In [126]:
meanValue = customerData.groupby(["CUSTTYPE", "EMI"], as_index=True).mean()
print(meanValue)
meanValue = meanValue.reset_index

                      AVERAGEPRICE  DEVICECOUNT  PRODUCTAGE
CUSTTYPE         EMI
Big-Screen-lover 1     3246.000000     5.000000    1.891624
                 2     3535.317391     5.508696    2.223247
                 3     4111.600000     6.400000    1.838520
Early-bird       1     2390.083736     6.300000    1.000000
                 2     3232.445885     6.460606    0.936364
                 3     3455.966035     6.475000    0.962500
Sleeping-dog     1     3185.918464     3.833333    2.357587
                 2     3504.298670     4.353659    2.724274

In [146]:
#seasonData의 ["REGIONID", "PRODUCT"] 두 가지 칼럼을 그룹으로 묶어 mean(전체평균),
#std(표준편차)를 구한 것.
groupData2 = seasonData.groupby(["REGIONID", "PRODUCT"]).\
agg(['mean', 'std'])['QTY_NEW']
groupData2 = groupData2.reset_index

In [147]:
# groupData

In [143]:
seasonData.head(1)

  REGIONID   PRODUCT YEARWEEK   QTY  QTY_NEW  YEAR WEEK
0      A60  PRODUCT4   201402  71.0     71.0  2014    2

In [152]:
groupKey = ["REGIONID", "PRODUCT"]

In [153]:
groupData = seasonData.groupby(groupKey).\
agg(['mean', 'std'])["QTY_NEW"]

In [178]:
groupData =

                         QTY_MEAN        QTY_STD
REGIONID PRODUCT
A00      PRODUCT34     132.445860     154.867743
         PRODUCT58     105.235669     273.435108
         PRODUCT59   36086.547771   15192.174914
A01      PRODUCT1     5716.726115    3704.948589
         PRODUCT12  197052.777070  198866.717131
         PRODUCT14   17934.738854    9402.640836
         PRODUCT15    4759.554140    1528.260828
         PRODUCT16    1392.394904     734.344988
         PRODUCT19    3335.140127     996.017547
         PRODUCT2    22769.891720   23307.183239
         PRODUCT20      63.254777      75.729859
         PRODUCT33   11919.828025    6300.941637
         PRODUCT34  108633.229299  117445.576337
         PRODUCT4    25851.547771   32905.547789
         PRODUCT47   10998.159236    8243.442040
         PRODUCT56    6296.229299    1832.616295
         PRODUCT57    6804.643312    1391.225843
         PRODUCT58   27346.216561   28091.461510
         PRODUCT59  642760.585987  180794.220476
         PRODUCT6      807.745223    3259.556767
         PRODUCT60       0.923567       2.058570
         PRODUCT62   11378.993631    5731.819330
         PRODUCT63   47715.101911   34580.487660
         PRODUCT7     2080.101911    1302.436879
         PRODUCT75   30013.961783    9336.409864
         PRODUCT8      186.719745     160.538710
A02      PRODUCT1      155.331210     146.356580
         PRODUCT12    8995.910828    7315.563434
         PRODUCT14    1797.044586     685.720754
         PRODUCT16      23.528662      57.131154
...                           ...            ...
A65      PRODUCT1       62.388535      41.711563
         PRODUCT12    1114.828025     652.368880
         PRODUCT14      16.847134      15.899591
         PRODUCT33     122.942675      55.760390
         PRODUCT34    1780.127389    1524.126348
         PRODUCT40       9.554140      10.209595
         PRODUCT47      23.089172      20.011656
         PRODUCT56      88.203822      28.963226
         PRODUCT57      91.165605      39.983947
         PRODUCT58     181.369427     197.959860
         PRODUCT59   12114.452229    5817.423758
         PRODUCT60      82.159236      25.452195
         PRODUCT62     187.605096      56.698229
A66      PRODUCT34     176.936306     281.946523
         PRODUCT58       4.789809       8.564261
         PRODUCT59    3788.566879    2205.732553
A67      PRODUCT34     703.484076     349.442589
         PRODUCT58      40.796178      62.086141
         PRODUCT59   21489.286624    6434.134741
A68      PRODUCT34     290.184713     179.060469
         PRODUCT58       1.649682       4.251495
         PRODUCT59    7785.178344    5578.579027
A69      PRODUCT34     166.184713     203.227289
         PRODUCT58       4.611465       5.921116
         PRODUCT59    8320.515924    6085.234172
A70      PRODUCT34    2165.585987    1479.518945
         PRODUCT58      61.496815      67.393280
         PRODUCT59   69471.617834   35908.174284
A77      PRODUCT1     2890.745223     940.912186
         PRODUCT12    3473.324841    1687.580677

[794 rows x 2 columns]

In [158]:
groupData.reset_index

<bound method DataFrame.reset_index of                              mean            std
REGIONID PRODUCT
A00      PRODUCT34     132.445860     154.867743
         PRODUCT58     105.235669     273.435108
         PRODUCT59   36086.547771   15192.174914
A01      PRODUCT1     5716.726115    3704.948589
         PRODUCT12  197052.777070  198866.717131
         PRODUCT14   17934.738854    9402.640836
         PRODUCT15    4759.554140    1528.260828
         PRODUCT16    1392.394904     734.344988
         PRODUCT19    3335.140127     996.017547
         PRODUCT2    22769.891720   23307.183239
         PRODUCT20      63.254777      75.729859
         PRODUCT33   11919.828025    6300.941637
         PRODUCT34  108633.229299  117445.576337
         PRODUCT4    25851.547771   32905.547789
         PRODUCT47   10998.159236    8243.442040
         PRODUCT56    6296.229299    1832.616295
         PRODUCT57    6804.643312    1391.225843
         PRODUCT58   27346.216561   28091.461510
         PRODUCT59  642760.585987  180794.220476
         PRODUCT6      807.745223    3259.556767
         PRODUCT60       0.923567       2.058570
         PRODUCT62   11378.993631    5731.819330
         PRODUCT63   47715.101911   34580.487660
         PRODUCT7     2080.101911    1302.436879
         PRODUCT75   30013.961783    9336.409864
         PRODUCT8      186.719745     160.538710
A02      PRODUCT1      155.331210     146.356580
         PRODUCT12    8995.910828    7315.563434
         PRODUCT14    1797.044586     685.720754
         PRODUCT16      23.528662      57.131154
...                           ...            ...
A65      PRODUCT1       62.388535      41.711563
         PRODUCT12    1114.828025     652.368880
         PRODUCT14      16.847134      15.899591
         PRODUCT33     122.942675      55.760390
         PRODUCT34    1780.127389    1524.126348
         PRODUCT40       9.554140      10.209595
         PRODUCT47      23.089172      20.011656
         PRODUCT56      88.203822      28.963226
         PRODUCT57      91.165605      39.983947
         PRODUCT58     181.369427     197.959860
         PRODUCT59   12114.452229    5817.423758
         PRODUCT60      82.159236      25.452195
         PRODUCT62     187.605096      56.698229
A66      PRODUCT34     176.936306     281.946523
         PRODUCT58       4.789809       8.564261
         PRODUCT59    3788.566879    2205.732553
A67      PRODUCT34     703.484076     349.442589
         PRODUCT58      40.796178      62.086141
         PRODUCT59   21489.286624    6434.134741
A68      PRODUCT34     290.184713     179.060469
         PRODUCT58       1.649682       4.251495
         PRODUCT59    7785.178344    5578.579027
A69      PRODUCT34     166.184713     203.227289
         PRODUCT58       4.611465       5.921116
         PRODUCT59    8320.515924    6085.234172
A70      PRODUCT34    2165.585987    1479.518945
         PRODUCT58      61.496815      67.393280
         PRODUCT59   69471.617834   35908.174284
A77      PRODUCT1     2890.745223     940.912186
         PRODUCT12    3473.324841    1687.580677

[794 rows x 2 columns]>

In [160]:
import numpy as np

In [167]:
groupData.rename(columns = {"mean":"QTY_MEAN"}, inplace = True)

In [169]:
groupData.rename(columns = {"std":"QTY_STD"}, inplace = True)

In [173]:
groupData = groupData.drop(["MEAN"],axis = 1)

In [179]:
groupData = groupData.reset_index()

In [180]:
groupData.head()

  REGIONID    PRODUCT       QTY_MEAN        QTY_STD
0      A00  PRODUCT34     132.445860     154.867743
1      A00  PRODUCT58     105.235669     273.435108
2      A00  PRODUCT59   36086.547771   15192.174914
3      A01   PRODUCT1    5716.726115    3704.948589
4      A01  PRODUCT12  197052.777070  198866.717131

In [185]:
import math
order = 5
suborder = math.floor(order/2)
suborder

2

In [208]:
sortKey = ["REGIONID", "PRODUCT", "YEARWEEK"]

In [218]:
sortedData = seasonData.sort_values(sortKey)

In [219]:
sortedData["TEST"] = sortedData["QTY_NEW"].rolling(window = 13, min_periods=1,\
                                                    center = True).mean()

In [220]:
sortedData.head(13)

      REGIONID    PRODUCT YEARWEEK    QTY  QTY_NEW  YEAR WEEK        TEST
298        A00  PRODUCT34   201401  661.0    661.0  2014   01  542.285714
1757       A00  PRODUCT34   201402  679.0    679.0  2014   02  520.000000
3125       A00  PRODUCT34   201403  578.0    578.0  2014   03  514.444444
205        A00  PRODUCT34   201404  532.0    532.0  2014   04  516.800000
4369       A00  PRODUCT34   201405  516.0    516.0  2014   05  503.363636
4313       A00  PRODUCT34   201406  423.0    423.0  2014   06  490.750000
6288       A00  PRODUCT34   201407  407.0    407.0  2014   07  480.230769
6403       A00  PRODUCT34   201408  364.0    364.0  2014   08  453.384615
5158       A00  PRODUCT34   201409  470.0    470.0  2014   09  423.846154
7437       A00  PRODUCT34   201410  538.0    538.0  2014   10  401.230769
10123      A00  PRODUCT34   201411  369.0    369.0  2014   11  378.538462
8844       A00  PRODUCT34   201412  352.0    352.0  2014   12  352.692308
10813      A00  PRODUCT34   201413  354.0    354.0  2014   13  332.538462

In [221]:
regionMasterData = pd.read_csv('../dataset/kopo_region_mst.csv')
selectExample = pd.read_csv('../dataset/kopo_channel_seasonality_new.csv')

In [225]:
mergeResult = pd.merge(selectExample, regionMasterData,\
                      left_on = "REGIONID", right_on = "REGIONID", how = "left")\
[["REGIONID", "REGIONNAME", "PRODUCT", "YEARWEEK", "QTY"]]

In [226]:
mergeResult.head()

  REGIONID REGIONNAME    PRODUCT  YEARWEEK      QTY
0      A60       THAI   PRODUCT4    201402     71.0
1      A60       THAI  PRODUCT59    201402  22275.0
2      A60       THAI  PRODUCT34    201402   4463.0
3      A60       THAI  PRODUCT47    201402      0.0
4      A60       THAI  PRODUCT56    201402     23.0