# cmd창에서 pip install pymysql 실행하기.(최초 실행에 한정)

In [1]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine

In [2]:
# engine = create_engine('mysql+pymysql://root:manager@192.168.110.20:3306/student')
engine_maria = create_engine('mysql+pymysql://kopo:kopo@13.209.112.251:3306/kopo')
#데이타베이스의 특정 사용자 db와 커넥팅. 엔진 생성.

In [3]:
kopo_volume = pd.read_csv('../dataset/kopo_product_volume.csv')
#csv 파일 불러오기.

In [4]:
resultname = 'quiz_송진우'
#변수 저장. resultName은 타 db에 저장할 때 제목으로 사용할 것임.

In [5]:
kopo_volume.to_sql(resultname, engine_maria, if_exists='replace', index=False)
#kopo_volume을 위에 선언한 db(mamria)에 resulName이라는 이름으로 저장하고, 만약 있다면 지금 보내는 것으로 대체하고 인덱스는 떨어뜨린다.

In [8]:
# pd.read_csv('../dataset/./customerdata.csv')#csv 파일 불러오려면 pd.read_csv를 통해 가지고 와야 함.
selloutData = pd.read_csv('../dataset/kopo_product_volume.csv')

In [9]:
selloutData.columns = ['SALESID','PRODUCTGROUP','YEARWEEK','VOLUME']#칼럼 이름을 바꾼다
# studentData.coluumns = ['NUMBER', 'NO']

In [10]:
resultname='mysqlresult_송진우'
selloutData.to_sql(resultname, engine_maria, if_exists='replace', index=False)
# resultname = 'mysqlresult'
# studentData. to_sql(resultname, engine, if_exists='replace', index=False)

In [11]:
selloutData.head(2)

  SALESID PRODUCTGROUP  YEARWEEK  VOLUME
0     A01       ST0001    201415  810144
1     A01       ST0002    201415  128999

In [7]:
import pandas as pd
from sqlalchemy import create_engine

In [8]:
# engine = create_engine('oracle+cx_oracle://kopo:kopo@127.0.0.1:1521/xe') 
engine_ora = create_engine('oracle+cx_oracle://kopo2019:kopo2019@192.168.110.112:1521/orcl')

In [9]:
# engine = create_engine('oracle+cx_oracle://kopo:kopo@127.0.0.1:1521/xe') 
# engine = create_engine('oracle+cx_oracle://SMART_20:manager@192.168.110.20:1521/orcl')

In [15]:
# selloutData = pd.read_sql_query('SELECT * FROM kopo_product_volume', engine) 
selloutData = pd.read_sql_query('SELECT * FROM kopo_product_volume', engine)

In [11]:
# selloutData.columns = ['REGIONID','PRODUCTGROUP','YEARWEEK','VOLUME']
selloutData.columns = ['REGIONID', 'PRODUCTGROUP', 'YEARWEEK', 'VOLUME']

In [12]:
print(selloutData.head(2))

  REGIONID PRODUCTGROUP YEARWEEK  VOLUME
0      A01       ST0002   201512  151750
1      A01       ST0001   201520  645626

In [13]:
# resultname='oracleresult'
# selloutData.to_sql(resultname, engine, if_exists='replace', index=False)
resultname='oracleeresuit_송진우'
selloutData.to_sql(resultname, engine_ora, if_exists='replace', index=False)

In [14]:
import psycopg2
import pandas as pd
from sqlalchemy import create_engine 

engine_postgre = create_engine('postgresql://kopo:kopo@192.168.110.111/kopo') 

selloutData = pd.read_sql_query('SELECT * FROM kopo_product_volume', engine)

resultname = 'postgre_송진우'
selloutData.to_sql(resultname, engine_ora, if_exists='replace', index=False)