# cmd창에서 pip install pymysql 실행하기.(최초 실행에 한정)

In [1]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine

In [5]:
# engine = create_engine('mysql+pymysql://root:manager@192.168.110.20:3306/student')
engine = create_engine('mysql+pymysql://kopo:kopo@192.168.110.111:3306/kopo')

In [8]:
selloutData = pd.read_sql_query('SELECT * FROM kopo_product_volume', engine)
selloutData.head(2)

  REGIONID PRODUCTGROUP YEARWEEK  VOLUME
0      A01       ST0002   201512  151750
1      A01       ST0001   201520  645626

In [13]:
selloutData.columns = ['SALESID','PRODUCTGROUP','YEARWEEK','VOLUME']
# studentData.coluumns = ['NUMBER', 'NO']

In [14]:
resultname='mysqlresult_송진우'
selloutData.to_sql(resultname, engine, if_exists='replace', index=False)
# resultname = 'mysqlresult'
# studentData. to_sql(resultname, engine, if_exists='replace', index=False)

In [17]:
selloutData.head(2)

  SALESID PRODUCTGROUP YEARWEEK  VOLUME
0     A01       ST0002   201512  151750
1     A01       ST0001   201520  645626

In [19]:
import pandas as pd
from sqlalchemy import create_engine

In [51]:
# engine = create_engine('oracle+cx_oracle://kopo:kopo@127.0.0.1:1521/xe') 
engine_ora = create_engine('oracle+cx_oracle://kopo2019:kopo2019@192.168.110.112:1521/orcl')

In [49]:
# engine = create_engine('oracle+cx_oracle://kopo:kopo@127.0.0.1:1521/xe') 
# engine = create_engine('oracle+cx_oracle://SMART_20:manager@192.168.110.20:1521/orcl')

In [52]:
# selloutData = pd.read_sql_query('SELECT * FROM kopo_product_volume', engine) 
selloutData = pd.read_sql_query('SELECT * FROM kopo_product_volume', engine)
selloutData

    regionid productgroup yearweek     volume
0        A01       ST0001   201415   810144.0
1        A01       ST0002   201415   128999.0
2        A01       ST0001   201418   671464.0
3        A01       ST0002   201418   134467.0
4        A01       ST0001   201413   470040.0
5        A01       ST0002   201413   140297.0
6        A01       ST0001   201411   524787.0
7        A01       ST0002   201411   145509.0
8        A01       ST0001   201416   764927.0
9        A01       ST0002   201416   140313.0
10       A01       ST0001   201419   682757.0
11       A01       ST0002   201419   128668.0
12       A01       ST0001   201414   428195.0
13       A01       ST0002   201414   137488.0
14       A01       ST0001   201412   486509.0
15       A01       ST0001   201417   697502.0
16       A01       ST0002   201417   127163.0
17       A01       ST0001   201407   620392.0
18       A01       ST0002   201407   146476.0
19       A01       ST0001   201410   511679.0
20       A01       ST0002   201410   153152.0
21       A01       ST0001   201402   438251.0
22       A01       ST0002   201402   123875.0
23       A01       ST0001   201405   482381.0
24       A01       ST0002   201405   180516.0
25       A01       ST0001   201408   571781.0
26       A01       ST0002   201408   156772.0
27       A01       ST0001   201403   420290.0
28       A01       ST0002   201403   114744.0
29       A01       ST0001   201406   570412.0
..       ...          ...      ...        ...
235      A01       ST0001   201622   817878.0
236      A01       ST0002   201622   214929.0
237      A01       ST0001   201620   695859.0
238      A01       ST0002   201620   160913.0
239      A01       ST0001   201618   712672.0
240      A01       ST0002   201618   162560.0
241      A01       ST0001   201625   786218.0
242      A01       ST0002   201625   157283.0
243      A01       ST0001   201612   794413.0
244      A01       ST0002   201612   132780.0
245      A01       ST0001   201610  1218194.0
246      A01       ST0002   201610   142575.0
247      A01       ST0001   201617   694920.0
248      A01       ST0002   201617   142279.0
249      A01       ST0001   201615   678467.0
250      A01       ST0002   201615   143180.0
251      A01       ST0001   201613   886427.0
252      A01       ST0002   201613   135788.0
253      A01       ST0001   201611  1011581.0
254      A01       ST0002   201611   150915.0
255      A01       ST0001   201609   635412.0
256      A01       ST0001   201616   658270.0
257      A01       ST0002   201616   137927.0
258      A01       ST0002   201609   154149.0
259      A01       ST0001   201614   739977.0
260      A01       ST0002   201614   148835.0
261      A01       ST0001   201641   746061.0
262      A01       ST0002   201412   151750.0
263      A01       ST0001   201420   645626.0
264      A01       ST0002   201420   125863.0

[265 rows x 4 columns]

In [53]:
# selloutData.columns = ['REGIONID','PRODUCTGROUP','YEARWEEK','VOLUME']
selloutData.columns = ['REGIONID', 'PRODUCTGROUP', 'YEARWEEK', 'VOLUME']

In [54]:
print(selloutData.head(2))

  REGIONID PRODUCTGROUP YEARWEEK    VOLUME
0      A01       ST0001   201415  810144.0
1      A01       ST0002   201415  128999.0

In [55]:
# resultname='oracleresult'
# selloutData.to_sql(resultname, engine, if_exists='replace', index=False)
resultname='oracleeresuit_송진우'
selloutData.to_sql(resultname, engine_ora, if_exists='replace', index=False)

In [57]:
import psycopg2
import pandas as pd
from sqlalchemy import create_engine 

engine_postgre = create_engine('postgresql://kopo:kopo@192.168.110.111/kopo') 

selloutData = pd.read_sql_query('SELECT * FROM kopo_product_volume', engine)

resultname = 'postgre_송진우'
selloutData.to_sql(resultname, engine_ora, if_exists='replace', index=False)