In [26]:
pwd

'C:\\Users\\SMART-20\\python_fintech'

In [27]:
import numpy as np

In [28]:
np.linspace(1,100,num=20)

array([  1.        ,   6.21052632,  11.42105263,  16.63157895,
        21.84210526,  27.05263158,  32.26315789,  37.47368421,
        42.68421053,  47.89473684,  53.10526316,  58.31578947,
        63.52631579,  68.73684211,  73.94736842,  79.15789474,
        84.36842105,  89.57894737,  94.78947368, 100.        ])

In [29]:
np.random.random(10)

array([0.34011133, 0.14036521, 0.74753427, 0.45331525, 0.48348105,
       0.30321295, 0.90950253, 0.98406631, 0.13426472, 0.91216882])

In [30]:
import pandas as pd

In [31]:
pd.read_csv("C:/Users/SMART-20/python_fintech/kopo_product_volume.csv")

    REGIONID PRODUCTGROUP  YEARWEEK   VOLUME
0        A01       ST0002    201512   151750
1        A01       ST0001    201520   645626
2        A01       ST0002    201520   125863
3        A01       ST0001    201515   810144
4        A01       ST0002    201515   128999
5        A01       ST0001    201518   671464
6        A01       ST0002    201518   134467
7        A01       ST0001    201513   470040
8        A01       ST0002    201513   140297
9        A01       ST0001    201511   524787
10       A01       ST0002    201511   145509
11       A01       ST0001    201516   764927
12       A01       ST0002    201516   140313
13       A01       ST0001    201519   682757
14       A01       ST0002    201519   128668
15       A01       ST0001    201514   428195
16       A01       ST0002    201514   137488
17       A01       ST0001    201512   486509
18       A01       ST0001    201517   697502
19       A01       ST0002    201517   127163
20       A01       ST0001    201507   620392
21       A01       ST0002    201507   146476
22       A01       ST0001    201510   511679
23       A01       ST0002    201510   153152
24       A01       ST0001    201502   438251
25       A01       ST0002    201502   123875
26       A01       ST0001    201505   482381
27       A01       ST0002    201505   180516
28       A01       ST0001    201508   571781
29       A01       ST0002    201508   156772
..       ...          ...       ...      ...
180      A01       ST0001    201635   732598
181      A01       ST0002    201635   229962
182      A01       ST0001    201633   748038
183      A01       ST0002    201633   201557
184      A01       ST0001    201631   832400
185      A01       ST0002    201631   179630
186      A01       ST0001    201629   809554
187      A01       ST0002    201629   163171
188      A01       ST0001    201627   798282
189      A01       ST0002    201627   188335
190      A01       ST0001    201634   711380
191      A01       ST0002    201634   181811
192      A01       ST0001    201632   774620
193      A01       ST0002    201632   215174
194      A01       ST0001    201648   873341
195      A01       ST0002    201648   711806
196      A01       ST0001    201646   630040
197      A01       ST0002    201646   441993
198      A01       ST0001    201651  1175605
199      A01       ST0002    201651   401602
200      A01       ST0001    201649   749699
201      A01       ST0002    201649   278487
202      A01       ST0001    201647  1037853
203      A01       ST0002    201647  1663206
204      A01       ST0001    201645   585098
205      A01       ST0002    201645   192137
206      A01       ST0001    201652   813749
207      A01       ST0002    201652   208186
208      A01       ST0001    201650   786380
209      A01       ST0002    201650   320253

[210 rows x 4 columns]

In [32]:
pwd

'C:\\Users\\SMART-20\\python_fintech'

In [33]:
pd.read_csv("./kopo_product_volume.csv")

    REGIONID PRODUCTGROUP  YEARWEEK   VOLUME
0        A01       ST0002    201512   151750
1        A01       ST0001    201520   645626
2        A01       ST0002    201520   125863
3        A01       ST0001    201515   810144
4        A01       ST0002    201515   128999
5        A01       ST0001    201518   671464
6        A01       ST0002    201518   134467
7        A01       ST0001    201513   470040
8        A01       ST0002    201513   140297
9        A01       ST0001    201511   524787
10       A01       ST0002    201511   145509
11       A01       ST0001    201516   764927
12       A01       ST0002    201516   140313
13       A01       ST0001    201519   682757
14       A01       ST0002    201519   128668
15       A01       ST0001    201514   428195
16       A01       ST0002    201514   137488
17       A01       ST0001    201512   486509
18       A01       ST0001    201517   697502
19       A01       ST0002    201517   127163
20       A01       ST0001    201507   620392
21       A01       ST0002    201507   146476
22       A01       ST0001    201510   511679
23       A01       ST0002    201510   153152
24       A01       ST0001    201502   438251
25       A01       ST0002    201502   123875
26       A01       ST0001    201505   482381
27       A01       ST0002    201505   180516
28       A01       ST0001    201508   571781
29       A01       ST0002    201508   156772
..       ...          ...       ...      ...
180      A01       ST0001    201635   732598
181      A01       ST0002    201635   229962
182      A01       ST0001    201633   748038
183      A01       ST0002    201633   201557
184      A01       ST0001    201631   832400
185      A01       ST0002    201631   179630
186      A01       ST0001    201629   809554
187      A01       ST0002    201629   163171
188      A01       ST0001    201627   798282
189      A01       ST0002    201627   188335
190      A01       ST0001    201634   711380
191      A01       ST0002    201634   181811
192      A01       ST0001    201632   774620
193      A01       ST0002    201632   215174
194      A01       ST0001    201648   873341
195      A01       ST0002    201648   711806
196      A01       ST0001    201646   630040
197      A01       ST0002    201646   441993
198      A01       ST0001    201651  1175605
199      A01       ST0002    201651   401602
200      A01       ST0001    201649   749699
201      A01       ST0002    201649   278487
202      A01       ST0001    201647  1037853
203      A01       ST0002    201647  1663206
204      A01       ST0001    201645   585098
205      A01       ST0002    201645   192137
206      A01       ST0001    201652   813749
207      A01       ST0002    201652   208186
208      A01       ST0001    201650   786380
209      A01       ST0002    201650   320253

[210 rows x 4 columns]

In [34]:
a=3
A=5
print(a)
print(A)

3
5

In [35]:
print(a)

3

In [36]:
R=pd.read_csv("./kopo_product_volume.csv")
print(R)

    REGIONID PRODUCTGROUP  YEARWEEK   VOLUME
0        A01       ST0002    201512   151750
1        A01       ST0001    201520   645626
2        A01       ST0002    201520   125863
3        A01       ST0001    201515   810144
4        A01       ST0002    201515   128999
5        A01       ST0001    201518   671464
6        A01       ST0002    201518   134467
7        A01       ST0001    201513   470040
8        A01       ST0002    201513   140297
9        A01       ST0001    201511   524787
10       A01       ST0002    201511   145509
11       A01       ST0001    201516   764927
12       A01       ST0002    201516   140313
13       A01       ST0001    201519   682757
14       A01       ST0002    201519   128668
15       A01       ST0001    201514   428195
16       A01       ST0002    201514   137488
17       A01       ST0001    201512   486509
18       A01       ST0001    201517   697502
19       A01       ST0002    201517   127163
20       A01       ST0001    201507   620392
21       A01       ST0002    201507   146476
22       A01       ST0001    201510   511679
23       A01       ST0002    201510   153152
24       A01       ST0001    201502   438251
25       A01       ST0002    201502   123875
26       A01       ST0001    201505   482381
27       A01       ST0002    201505   180516
28       A01       ST0001    201508   571781
29       A01       ST0002    201508   156772
..       ...          ...       ...      ...
180      A01       ST0001    201635   732598
181      A01       ST0002    201635   229962
182      A01       ST0001    201633   748038
183      A01       ST0002    201633   201557
184      A01       ST0001    201631   832400
185      A01       ST0002    201631   179630
186      A01       ST0001    201629   809554
187      A01       ST0002    201629   163171
188      A01       ST0001    201627   798282
189      A01       ST0002    201627   188335
190      A01       ST0001    201634   711380
191      A01       ST0002    201634   181811
192      A01       ST0001    201632   774620
193      A01       ST0002    201632   215174
194      A01       ST0001    201648   873341
195      A01       ST0002    201648   711806
196      A01       ST0001    201646   630040
197      A01       ST0002    201646   441993
198      A01       ST0001    201651  1175605
199      A01       ST0002    201651   401602
200      A01       ST0001    201649   749699
201      A01       ST0002    201649   278487
202      A01       ST0001    201647  1037853
203      A01       ST0002    201647  1663206
204      A01       ST0001    201645   585098
205      A01       ST0002    201645   192137
206      A01       ST0001    201652   813749
207      A01       ST0002    201652   208186
208      A01       ST0001    201650   786380
209      A01       ST0002    201650   320253

[210 rows x 4 columns]

In [37]:
integer_value=123

In [38]:
type(integer_value)

int

In [39]:
integer_value=5
float_value=11
sum = integer_value+float_value
print(sum)

16

In [40]:
sum = a+A
print(sum)

8

In [41]:
multiple = a*A
print(multiple)

15

In [42]:
division = a/A
print(division)

0.6

In [43]:
exponential=a**A
print(exponential)

243

In [44]:
mod = a%A
print(mod)

3

In [45]:
a=543
A=889

In [46]:
sum=a+A
print(sum)

1432

In [47]:
print(sum)

1432

In [48]:
division=a/A
print(division)

0.6107986501687289

In [49]:
multiple=a*A
print(multiple)

482727

In [50]:
exponential=a**A
print(exponential)

17260306541742775150917329794221336700772438439130176456841193874737678169944548859213502908319012216943745114649575663516712113226383866249322381813570214698051432750753058138585310649305729608783352043998676110498582290974403893491169903540268410357613259283547164121445297633047305597444825906026689355103578952963127192828617025736819444684530710371478035319437533723257932122072238985222053251711707880167721537241104068527020485530705437761374195218723237467301234691800456355249817866417611273834362682930724094814293463769467901558096694019542036403492980934258636805401756484075987757284268592171351973779524195997187099770594455570882584549544187770964741290863860153102577041982167975413513211227536895713833874031878463016289196277155736424024391619532447428724629151320559246055837891816819808456545215331158275737207311192814807521973823514939048891052069306474401596936504645994436008663681303040335728940324896723823023081435186854319547877834949950966953734003579287140777740802458315329070532796458336809698050798547148356288598722322214094086101177386645561185765238594060448559469006428897216747140890449496410572207245362259959579248503712796264250770124260433787573582652112927053118793987969725421921691272304036620581491517225419725710680768864287429708041029657517608785705505776090031346563104450054344873425195039542761650820777142715376415789549032419332137871424322484561779370334236222319503756161831830996176272647122526516560582881341224068917706728615887657036648947149828876045230511313433313318586405100569085335997713038736621900582938989553751731298300604942777461776787511328868497352736738330947755392458262595784570593475126983927696559521578884037774679261829842465766885358539952922501265374840281887784277450159507242646747815316689049448363722204887988167161809488579601542388801402103563062722815162991523415842593152214473459972137672114773714818357674533006473811177577146554201666082652138140429733584145032169916039815429463650126003257856668537938337286820754657714146194271632330285618605655365207599313229673040173510335196890465521746170530658122720361856840532233254989889090917522038039790852533248466308759352885751306421503818937290398030909039656178693821077790994516164073770486188325646539902047924397699391760426174844295488717876310600464869354384714993182260342972682929146232299439815929344789210577018956851655442959734057223369802155096306653741479604730816170029343

In [51]:
T=5
t=23

In [52]:
sum=T+t
print(sum)

28

In [53]:
division=t/T
print(division)

4.6

In [54]:
a=12.33

In [55]:
type(a)

float

In [56]:
b=3

In [57]:
type(b)

int

In [58]:
q=4
e=0.34456

In [59]:
division=q/e
print(division)

11.609008590666358

In [60]:
mod=q%e
print(mod)

0.20984000000000025

In [61]:
hour = int(input("hour"))
min = int(input("min"))
sum = hour+min
print(sum)

hour11
min12
23

In [62]:
hour = float(input("hour"))
min = float(input("min"))
sum = hour+min
print(sum)

hour1.2
min2.3
3.5

## 1. 라이브러리 선언

In [63]:
import datetime as dt

dt.datetime.now()

datetime.datetime(2019, 3, 14, 11, 48, 39, 650739)

## 2. 시간, 분 정보 불러오기

In [64]:
from datetime import datetime as dt2

currentDate = dt2.now()

# 시간.분 할당
hourVar = currentDate.hour
minutesVar = currentDate.minute
print(hourVar)
print(minutesVar)

11
48

## 3. 결과 저장

In [65]:
answer = minutesVar + hourVar
print(answer)

59

In [66]:
a=123

In [67]:
b="123"

In [69]:
answer = a+1
print(answer)

124

In [71]:
type(b)

str

In [72]:
type(a)

int

In [73]:
head="holy"
tail="shuit"
fullstring=head+" "+tail
print(fullstring)

holy shuit

In [78]:
yearweek="201903"
firstYear = yearweek[0]
print(firstYear)

2

In [79]:
yearweek[0:4]

'2019'

In [80]:
yearweek = "2019W09"

In [85]:
splitVar = yearweek.split("W")

In [86]:
print(splitVar)

['2019', '09']

In [105]:
example="SEC 20180212 250"

stockName=example[0:3]
date=example[4:13]
value=example[14:16]
print(stockName)
print(date)
print(value)

SEC
20180212
50

In [133]:
a="Sec2018W28250"
Uppera = a.upper()
Uppera

'SEC2018W28250'

In [134]:
splita=Uppera.replace("W","")
splita

'SEC201828250'

In [3]:
# 내가 처음 푼 답
# TestList=[120,150,300,500,1000,100,2000]
# print(min(TestList))
# print(max(TestList))
# del TestList[5]
# del TestList[5]
# print(TestList)
# print(sum)
# average=sum/len(TestList)
# print(average)
#답=414.0

In [9]:
#다른 분이 낸 답
# TestList=[120,150,300,500,1000,100,2000]
# del TestList[TestList.index(min(TestList))]
# del TestList[TestList.index(max(TestList))]
# average = sum(TestList)/len(TestList)
# average
#414.0

In [8]:
#교수님의 답
TestList=[120,150,300,500,1000,100,2000]

#.sort()는 오름차순으로 정렬하라는 예약어.
TestList.sort()

#TestList의 0번째 리스트 요소를 삭제하라는 코드.
del TestList[0]

#del은 삭제하라는 예약어, TestList[len(TestList)-1]는 TestList의 len(길이를 뜻하는 예약어로, 리스트 내부의 길이를 뜻함. 길이는 리스트 내부에
#존재하는 요소들의 합 ex-TestList=[1, 2, 3, 4, 5]일 때 길이는 '1, 2, 3, 4, 5'의 4개 요소를 뜻하며 0부터 세기 시작하기 때문에 5개가 들어있어도
#총 요소 갯수는 4)중 마지막을 -, 빼라는 코드.
del TestList[len(TestList)-1]

#average라는 변수에 TestList 내부 요소들의 합(sum)을 len(TestList) TestList의 길이로 /(나누기)하라는 코드.
average = sum(TestList)/len(TestList)

average

414.0

In [10]:
dict = { "190113":"노트북 구매", "190114":"마우스 구매"}

In [12]:
dict["190113"]

'노트북 구매'

In [14]:
import pandas as pd